h1{
    color: blueviolet;
    text-align: center;
    font-size: large;
}
h2{
    color: cadetblue;
    text-align: center;
    font-size: large;
}
img{
    width: fit-content;
    height: fit-content;
    
}